@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f4f4;
  font-size: 1.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Tammudu 2', cursive;
}

body>#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(80px, 90px) auto 1fr;
  grid-template-areas: "header" "main" "footer";
  grid-row-gap: 6px;
  row-gap: 6px;
  justify-content: start;
}

body>#container>header {
  grid-area: header;
  background-color: #205020;
  color: #fff;
}

#container>header .collapse {
  background-color: #205020;
  color: #fff;
}

body>#container>header nav #navbarNav #link-perfil {
  display: none;
}

body>#container>footer {
  grid-area: footer;
  border-top: 1px solid #728172;
  background-color: #daf0da;
}

body>#container>main {
  grid-area: main;
  align-self: stretch;
}

#usermenu {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 25px;
  margin-right: 20px;
}

#usermenu img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 2px 2px 3px #508050;
}

.img-logo {
  max-width: 60px;
  max-height: 60px;
}

.nav-item .nav-link {
  color: #ebf5eb;
  padding: 4px;
  font-size: 1.15em;
  font-weight: 500;
}

.nav-item .nav-link:hover {
  text-decoration: underline;
}

#footer-principal {
  font-size: .8em;
}

#footer-principal a {
  color: #205020;
}

#footer-principal #navbar-footer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 3px;
  column-gap: 3px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: start;
}
#footer-principal #navbar-footer div {
  height: 100%;
}
#footer-principal #navbar-footer div a {
  height: 100%;
  white-space: nowrap;
  padding: 1%;
}

section header#navegacao {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
section header#navegacao h1 {
  border: 1px solid orange;
  height: 100%;
  padding-top: auto;
  padding-bottom: auto;
  flex-basis: 20%;
}
section header#navegacao .filtros {
  /* flex-grow: 2; */
  border: 1px solid cyan;
  height: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 16px;
  column-gap: 16px;
}
section header#navegacao nav {
  border: 1px solid maroon;
  height: 100%;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 0.9em;
    }
    #usermenu {
      display: none;
    }
    #footer-principal #navbar-footer {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    #footer-principal #navbar-footer div {
      max-height: 60px;
    }
    .pagination a.page-link {
      font-size: 60%;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #footer-principal #navbar-footer {     
    }
    #footer-principal #navbar-footer div {
    }
    #footer-principal #navbar-footer div a {
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


