@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
  box-sizing: border-box;
}

body {
    background-color: #f7f4f4;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
  }


h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo Tammudu 2', cursive;
  }

header .navbar .navbar-brand img {
    width: 60px;
    height: auto;
}

header .navbar {
  background-color: #205020;
  color: #fff;
  margin-bottom: 20px;
}

#footer-principal {
    height: 60px;
}

#footer-principal .navbar {
    background-color: #205020;
    font-size: .75em;
}

#footer-principal .navbar  a:link, #footer-principal .navbar  a:visited, #footer-principal .navbar  a:active  { 
    color: #fff;
}