{%extends 'default.html'%}
{% load static %}
{%block 'titulo'%}{{ autor.nome }}{%endblock%}

{%block 'conteudo'%}
<section id="detalhe-autor">
    <div class="card autor">
        <img src="{{ autor.autor.imagem }}" alt="{{ autor.autor.nome }}" class="autor-foto" />
        <div class="card-body">
            <h5 class="card-title">{{autor.autor.nome}}</h5>
            <p class="card-text">
                {% if autor.flag %}
                <img class="icone" src="{{autor.flag}}" alt="{{ autor.autor.pais_origem }}" title="{{ autor.autor.pais_origem }}"/>
                {% else %}
                <span class="text-muted">{{ autor.autor.pais_origem }}</span>
                {% endif %}
                <span class="text-muted">
                    <a href="{{autor.url_wiki}}" class="card-link autor-link"></a>
                    <img class="icone" src="{% static 'imgs/wikipedia_icon_128px.png'%}" 
                    alt="Wikipédia" title="Wikipédia" />
                    </a>
                </span>
            </p>
            <p class="card-text">
                Total de livros disponíveis: {{ autor.autor.count_livros }}
            </p>
        </div>
    </div>
    <aside>
        {% if livros %}
        <h1>Livros Disponíveis</h1>
        {% for livro in livros %}
        <div class="list-group list-group-flush">
            <a href="{% url 'livro' livro.id %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{livro.titulo}}</h4>
                    <small>
                    </small>
                </div>
                <p class="mb-1">{{ livro.subtitulo }}</p>
                <small></small>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </aside>
</section>
{%endblock%}