{%extends 'default.html'%}
{% load static %}
{%block 'conteudo'%}

{% if form.errors %}
<p class="alert-error">Your username and password didn't match. Please try again.</p>
{% endif %}

<form action="{% url 'usuario:login' %}" class="form" id="frm-login" method="post">
    <div class="card col-4">
        <div class="card-body">
            {% csrf_token %}
            <!-- { { form.as_p } } -->
            <input type="hidden" name="next" value="{% url 'biblioteca:index' %}"/>
            <div class="row">
                <div class="form-group col">
                    <label for="username">E-mail</label>
                    <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="password">Senha</label>
                    <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password">
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <input type="submit" value="Entrar" class="btn btn-success btn-lg">
        </div>
    </div>
</form>

{%endblock%}