{%extends 'default.html'%}
{% load static %}
{%block 'titulo'%} - Perfil{%endblock%}

{%block 'conteudo'%}
<section id="perfil" class="container">
    <h1>Gerenciamento de Perfil</h1>

    <div class="row">
        <div class="col sm-12 text-right">
            <a id="link-redefinir-senha" class="nav-link" href="{% url 'user:changepassword' %}"><i class="fas fa-key"></i> Redefinir Senha</a>
        </div>
    </div>

    <ul class="list-group my-4 list-group-flush">
        <li class="list-group-item"><i class="fa fa-info-circle text-danger" aria-hidden="true"></i> Os campos marcados com <span class="text-waring">*</span> são obrigatórios.</li>
        <li class="list-group-item"><i class="fas fa-exclamation-circle text-danger"></i> Informe o endereço próximo ao ponto central de entrega e devolução do livro no qual poderá ser contatado.</li>
    </ul>

    <div class="card">
        <div class="card-body">

    <form action="{% url 'user:perfil' %}" class="form" method="POST" id="frm-perfil" enctype="multipart/form-data" >
        {% csrf_token %}

        <input type="hidden" name="user_id" value="{{ user.id|default_if_none:"" }}" id="id_user_id">
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label for="id_nome" required>Nome</label>
                    <input type="text" required class="form-control" name="nome" id="id_nome" minlength="3" maxlength="100"
                        value="{{ form.nome.value|default_if_none:"" }}" autofocus>
                </div>
                {% if form.nome.errors %}
                <div class="alert alert-danger">
                    {{ form.nome.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="id_sobrenome" required>Sobrenome</label>
                    <input type="text" class="form-control" required name="sobrenome" id="id_sobrenome" minlength="2" maxlength="100"
                        value="{{ form.sobrenome.value|default_if_none:""  }}">
                </div>
                {% if form.sobrenome.errors %}
                <div class="alert alert-danger">
                    {{ form.sobrenome.errors }}
                </div>
                {% endif %}
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label for="id_celular" required>Celular</label>
                    <input type="text" required class="form-control" name="celular" id="id_celular"
                        value="{{ form.celular.value|default_if_none:"" }}" placeholder="(11) 91234-5678"
                        pattern="\(?[0-9]{2}\)?\s?9[0-9]{4}-?[0-9]{4}">
                </div>
                {% if form.celular.errors %}
                <div class="alert alert-danger">
                    {{ form.celular.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <div class="col-2">
                <div class="form-group">
                    <label for="id_cep" required>CEP</label>
                    <input type="text" required class="form-control" placeholder="10101-010"
                        pattern="[0-9]{5}-?[0-9]{3}" name="cep" id="id_cep" value="{{ form.cep.value|default_if_none:""|stringformat:"08d" }}">
                </div>
                {% if form.cep.errors %}
                <div class="alert alert-danger">
                    {{ form.cep.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="id_logradouro" required>Logradouro</label>
                    <input type="text" required class="form-control" name="logradouro" id="id_logradouro"
                        placeholder="Rua das Palmeiras" value="{{ form.logradouro.value|default_if_none:"" }}">
                </div>
                {% if form.logradouro.errors %}
                <div class="alert alert-danger">
                    {{ form.logradouro.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="id_numero" required>Número</label>
                    <input type="text" class="form-control" required name="numero" id="id_numero"
                        placeholder="123-A" value="{{ form.numero.value|default_if_none:"" }}">
                </div>
                {% if form.numero.errors %}
                <div class="alert alert-danger">
                    {{ form.numero.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="id_complemento">Complemento</label>
                    <input type="text" class="form-control" name="complemento" id="id_complemento"
                        placeholder="2º andar" value="{{ form.complemento.value|default_if_none:"" }}">
                </div>
                {% if form.complemento.errors %}
                <div class="alert alert-danger">
                    {{ form.complemento.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <div class="col-4">
                <div class="form-group">
                    <label for="id_bairro" required>Bairro</label>
                    <input type="text" required name="bairro" id="id_bairro" class="form-control"
                        placeholder="Jardins" value="{{ form.bairro.value|default_if_none:"" }}">
                </div>
                {% if form.bairro.errors %}
                <div class="alert alert-danger">
                    {{ form.bairro.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="id_cidade" required>Cidade</label>
                    <input type="text" required name="cidade" id="id_cidade" class="form-control"
                        placeholder="Nova Floresta" value="{{ form.cidade.value|default_if_none:"" }}">
                </div>
                {% if form.cidade.errors %}
                <div class="alert alert-danger">
                    {{ form.cidade.errors }}
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="id_estado" required>Estado</label>
                    <input type="text" required required name="estado" id="id_estado" class="form-control"
                        value="{{ form.estado.value|default_if_none:"" }}">
                </div>
                {% if form.estado.errors %}
                <div class="alert alert-danger">
                    {{ form.estado.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                {% if form.url_foto %}
                <p>
                <img src="{{form.url_foto.url}}" alt="Sem Foto" title="Foto de perfil">
                </p>
                {% endif %}
                <input type="file" class="custom-file-input" name="url_foto" id="id_url_foto"
                    accept="image/*">
                <label for="id_url_foto" class="custom-file-label">Foto de Perfil</label>
            </div>
        </div>

        {% if form and form.url_foto.url %}
        <h5>Succesfully uploaded : {{form.nome.value}}</h3>
        <img src="{{ form.url_foto.url}}" alt="connect" style="max-height:300px">
        {% endif %}

        <div class="row">
            <div class="col text-center">
                <input type="submit" value="Salvar" class="btn btn-lg btn-success">
            </div>
        </div>
    </form>
</div>
</div>
</section>
{%endblock%}