{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhoteca{%block 'titulo'%}{%endblock%}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/site.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/landing.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="container">        
        {% include '_head.html' %}
        <main style="padding: 6px;">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}}" role="alert">
                {{ message }}
                {% if erros %}
                <ul>
                    {% for erro in erros %}
                    <li>{{ erro }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            {%block 'conteudo'%}
            {%endblock%}
        </main>
        <footer id="footer-principal">
            <ul>
                <li><a class="nav-link" href="{% url 'sobre' %}" tabindex="-1" aria-disabled="true">Sobre</a></li>
                <li><a class="nav-link" href="#">Perguntas Frequentes</a></li>
                <li><a href="#" class="nav-link">Contato</a></li>
            </ul>
            
        </footer>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- <script type="text/javascript" src="{% static 'fontawesome/js/all.min.js' %}"></script> -->
</body>
</html>