{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhoteca {%block 'titulo'%}{%endblock%}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/site.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/landing.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/livros.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/autores.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="d-flex flex-column min-vh-100">
    
    {% include '_head.html' %}

    <main class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
            <!-- {- { message } -} -->
            {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {%block 'conteudo'%}
        {%endblock%}
    </main>

    {% include '_footer.html' %}

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fontawesome/js/all.min.js' %}"></script>
</body>

</html>