{% load static %}

<form action="{% url 'login' %}" class="form" id="frm-login" method="post">
<div class="card">
    <div class="card-body">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col">
                <label for="txt-login">Email</label>
                <input type="text" class="form-control" required name="login" id="txt-login" value="{{ request.POST.email }}">
            </div>
            <div class="form-group col">
                <label for="txt-senha">Senha</label>
                <input required type="password" class="form-control" name="senha" id="txt-senha">
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <input type="submit" value="Entrar" class="btn btn-success btn-lg">
    </div>
    </form>
</div>