{%extends 'default.html'%}
{% load static %}
{%block 'titulo'%}Autores{%endblock%}

{%block 'conteudo'%}
<h1>Perfil de Usuário</h1>
<picture id="foto-perfil">
    <img src="{{ perfil.url_foto.url }}" alt="" id="foto-perfil-usuario" style="max-width:80px;max-height: 80px;">
</picture>
<div class="perfil">
    <form action="{% url 'atualizar_perfil' %}" method="post" id="frm-perfil">
        {% csrf_token %}
        <div class="text-field">Email: {{ perfil.user.email }}<br/>
            <input type="email" name="email" id="tx-email" value="{{ request.POST.email }}">
        </div>
        <div class="text-field">Celular: {{ perfil.celular }}<br/>
            <input type="text" name="celular" id="tx-celular" value="{{ request.POST.celular }}">
        </div>
        <div class="text-field">CEP: {{ perfil.cep }}<br/>
            <input type="text" name="cep" id="tx-cep" value="{{ request.POST.cep }}">
        </div>
        <div class="text-field">Logradouro: {{ perfil.logradouro }}<br/>
            <input type="text" name="logradouro" id="tx-logradouro" value="{{ request.POST.logradouro }}">
        </div>
        <div class="text-field">Número: {{ perfil.numero }}<br/>
            <input type="text" name="numero" id="tx-numero" value="{{ request.POST.numero }}">
        </div>
        <div class="text-field">Complemento: {{ perfil.complemento }}<br/>
            <input type="text" id="tx-complemento" name="complemento" value="{{ request.POST.complemento }}">
        </div>
        <div class="text-field">Bairro: {{ perfil.bairro }}<br/>
            <input type="text" name="bairro" id="tx-bairro" value="{{ request.POST.bairro }}">
        </div>
        <div class="text-field">Cidade: {{ perfil.cidade }}<br/>
            <input type="text" name="cidade" id="tx-cidade" value="{{ request.POST.cidade }}">
        </div>
        <div class="text-field">Estado: {{ perfil.estado }}<br/>
            <input type="text" name="estado" id="tx-estado" value="{{ request.POST.estado }}">
        </div>
        <div class="text-field">Foto de Perfil: {{ perfil.url_foto }}<br/>
            <input type="file" name="foto" id="foto-perfil" value="{{ request.POST.foto }}">
        </div>
        <div class="form-footer">
            <input type="submit" value="Atualizar">
        </div>
    </form>
</div>
{%endblock%}