{%extends 'default.html'%}
{%block 'titulo'%}Livros{%endblock%}

{%block 'conteudo'%}
<h1>Livros</h1>
<div class="row">
    <div class="col-12">
        <form action="{% url 'busca' %}" method="get">
            <div class="form-group row">
                <div class="col-12">
                    <input type="search" class="form-control" value="{{request.get.termo}}"
                    id="search-book" placeholder="Pesquise por título ou subtítulo"
                    name="termo"/>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <td>Título / Subtítulo</td>
            <td>Autor</td>
            <td>Idioma</td>
        </tr>
    </thead>
    <tbody>
        {% for livro in autor.livro_set %}
        <tr class="{% if not livro.disponivel %}livro-indisponivel{% endif %}">
            <td>
                <a href="{% url 'livro' livro.id %}" class="livro">
                <span class="titulo">
                    {{ livro.titulo }}</span>
                <br/>
                <span class="subtitulo">{{ livro.subtitulo }}</span>
                </a>
            </td>
            <td> <a href="{% url 'autores'%}{{livro.autor_id}}">{{ livro.autor }}</a></td>
            <td>{{ livro.idioma }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if livros.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?pg=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?pg={{ livros.previous_page_number }}">
                &lt;
            </a>
        </li>
        {% endif %}
        {% for pg in livros.paginator.page_range %}
        <li class="page-item {% if livros.number == pg %}active{% endif %}">
            <a class="page-link" href="?pg={{pg}}">{{pg}}</a>
        </li>
        {% endfor %}
        {% if livros.has_next %}
        <li class="page-item">
        <a class="page-link" href="?pg={{ livros.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
        </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?pg={{ livros.paginator.num_pages }}">
                &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{%endblock%}
