{%extends 'default.html'%}
{%block 'titulo'%}Livros{%endblock%}

{%block 'conteudo'%}
<h1>Livros</h1>
<table class="table">
    <thead>
        <tr>
            <td>Titulo / Subtitulo</td>
            <td>Autor</td>
            <td>Idioma</td>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
        <tr>
            <td class="{% if livro.disponivel %}livro-disponivel{% else %}livro-indisponivel{% endif %}">
                <a href="{% url 'livro' livro.id %}" class="livro">
                <span class="titulo">
                    {{ livro.titulo }}</span>
                <br/>
                <span class="subtitulo">{{ livro.subtitulo }}</span>
                </a>
            </td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.idioma }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
{%endblock%}