{%extends 'default.html'%}
{%block 'titulo'%}{{ livro.titulo }}{%endblock%}

{%block 'conteudo'%}
<div>
<h3>{{ livro.titulo }}</h3>
<h4 class="subtitulo">{{ livro.subtitulo }}</h4>
<p class="autor-livro">{{ livro.autor }}</p>
<p class="editor-livro">{{ livro.editora }}</p>
<p class="sinopse">{{ livro.sinopse }}</p>
</div>
<aside>
    <figure class="capa-livro">
        <img src="{{ livro.capa }}" alt="{{ livro.titulo }}">
    </figure>
</aside>
<div class="links-amazon">
    <p class="anuncio-venda">
        Compre seu exemplar deste livro na Amazon e ajude com o desenvolvimento do projeto da <a href="https://www.livrosviajantes.com.br" id="plv">Plataforma Livros Viajantes</a>!
    </p>
    {% for link in links %}
    <div class="anuncio-livro">
    <iframe
        style="width:120px;height:240px;"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0" 
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=plv0a-20&language=pt_BR&marketplace=amazon&region=BR&{{ link }}&show_border=true&link_opens_in_new_window=true"
    ></iframe>
    </div>
    {% endfor %}
</div>
{%endblock%}

